/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bebas Neue', cursive;
  padding-top: 42rem;
  background-color: #9fc4c5; }

.container, #sobreMi, #proyectos, #mail, #misRedes {
  padding: 0 5rem;
  width: 100%;
  min-height: 100vh; }

header {
  background-color: #456B82;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 0;
  column-gap: 0;
  height: 3.5rem;
  position: absolute;
  top: 0;
  width: 100%; }
  header nav {
    position: relative;
    top: 0.5rem; }
    header nav ul {
      display: flex;
      gap: 2rem;
      list-style: none; }
      header nav ul li a {
        text-decoration: none;
        color: #B5D3C4;
        text-shadow: 1px 1px 1px #524c4c;
        font-size: 2rem; }

/*Main*/
main .banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 3.5rem;
  height: 22rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  main .banner .marcoIcono {
    height: 15rem;
    width: 15rem;
    background-color: #F2F2F2;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    row-gap: 0;
    column-gap: 0;
    position: relative;
    top: 8rem; }

.subtitulos {
  margin-left: 2rem; }

.volver {
  margin-top: 5rem;
  padding-right: 8rem;
  width: 100%;
  display: flex;
  justify-content: right; }

/*Sobre Mi*/
#sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 0;
  height: 100vh;
  color: #2c2c2c;
  margin-bottom: 15rem; }
  #sobreMi p {
    text-align: center;
    width: 50%; }
  #sobreMi .listasEstudios {
    display: flex;
    column-gap: 15rem; }

/*proyectos*/
#proyectos {
  min-height: 100vh;
  color: #2c2c2c;
  background-color: beige;
  padding-top: 3rem;
  padding-bottom: 15rem; }
  #proyectos h3 {
    margin: 3rem 0 2rem 5rem; }
  #proyectos p {
    margin-left: 4.5rem; }
  #proyectos .pantallas {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    margin-top: 2rem; }
    #proyectos .pantallas div {
      display: flex;
      flex-direction: column; }
      #proyectos .pantallas div .mobile {
        height: 20rem;
        width: 11rem; }
      #proyectos .pantallas div .tablet {
        height: 20rem;
        width: 14rem; }
      #proyectos .pantallas div .pc {
        height: 15rem;
        width: 24rem; }
      #proyectos .pantallas div .botones {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        row-gap: 0;
        column-gap: 2rem; }

/*Mis Redes*/
#misRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  column-gap: 0;
  background-color: #1d1d1d;
  color: #d4d4d4;
  text-align: center; }
  #misRedes .imgRedes {
    display: flex;
    gap: 2.5rem; }
    #misRedes .imgRedes img {
      height: 4rem;
      width: 4rem; }
