/*Email*/
#emails {
    @extend .container;
    padding-bottom: 10rem;
    background-color: $colorNav;
    color: aliceblue;
    .parrafoImagen {
        @include FlexCenter(row-reverse, 0, 5rem);

        p{
            width: 40%;
        }
       
    }
}